.track
  .song
    .title= track.title
    .artist= track.artist
  .album
    %img{:src => '/images/icons/jewel_case.png', :alt => 'Jewel Case'}
    = track.album
  .duration= track.duration.to_min_sec
  .clear

