= @invitation.creator.name
invites you to join defuze.me
- if @invitation.radio
  and his/her radio "#{@invitation.radio.name}"

Follow this link to join defuze.me:
= link_to signup_path, signup_path
