#download
  margin: 1em 0 3em 0
  .client, .mobile
    float: left
    h3
      text-align: center
      line-height: 2.5em
      border-bottom: 1px solid lighten($main, 5)
      margin: 0 10px 1em 10px
    > div
      min-height: 90px
      width: 90px
      margin: 0 10px
      float: left
      background: transparent url("../images/download.png") top center no-repeat
  .mobile
    .ios
      background-position: center -90px
  .client
    .windows
      background-position: center -180px
    .linux
      background-position: center -270px
    .macos
      background-position: center -360px

