@import "definitions"

body
  background-color: $back
  margin: 0
  padding: 0
  text-align: center
  color: #333
  font-size: 13px
  font-family: $fonts

#wrapper
  width: 960px
  margin: 0 auto
  text-align: left
  padding-top: 10px
  &.app
    width: auto
    margin: 0 15px
  &.alert
    width: 40em
    margin: 0 auto

a
  text-decoration: none
  color: darken($link, 20)

a:hover
  color: $link

.clear
  clear: both
  display: block

h2
  padding: 0.3em 10px
  margin: 0
  color: $red

ul
  list-style: none
  padding: 0

.actions a,
.actions input,
input.button,
a.button
  display: block
  @include gradient_background($actions)
  @include box-shadow(1px 1px 1px darken(white, 20))
  text-shadow: 0 -1px 0px darken($actions, 15)
  color: white
  font-weight: bold
  padding: 0px 0.5em
  border: 1px solid $actions
  cursor: pointer
  @include button_up($actions) 
  line-height: 2em
  &:hover
    color: white
    @include gradient_background($apple)
    text-shadow: 0 -1px 0px darken($apple, 10)
    @include button_up($apple)
    @include box-shadow(0px 0px 5px lighten($apple, 5))
    &.important
      @include gradient_background($red)
      text-shadow: 0 -1px 0px darken($red, 10)
      @include button_up($red)
      @include box-shadow(0px 0px 5px lighten($red, 5))
  &:active
    color: white
    @include back_gradient_background($apple)
    text-shadow: 0 -1px 0px darken($apple, 10)
    @include button_down($apple)
    @include box-shadow(-1px -1px 1px darken(white, 20))
    &.important
      @include back_gradient_background($red)
      text-shadow: 0 -1px 0px darken($red, 10)
      @include button_down($red)
      @include box-shadow(-1px -1px 1px darken(white, 20))
    

.actions
  a
    float: left
    &:first-child
      @include lborder-radius(3px)
    &:last-child
      @include rborder-radius(3px)

.split
  overflow: hidden
  clear: both
  label, .formError
    width: 40%
  input, textarea
    width: 48%
  select
    width: 50%
  .left
    float: left
    width: 50%
  .right
    float: right
    width: 50%

form
  padding: 1em
  label, input, textarea, select
    display: block
    float: left
    font-size: 1.1em
    margin-top: 0.3em
    margin-bottom: 0.6em
  label, .formError
    clear: both
    width: 20%
    padding: 0.4em 0
    text-align: right
  input, textarea, select, a
    border: 1px solid $back
    @include button_up($back)
    padding: 0.4em 0.3em
    margin-left: 1em
    width: 74%
    @include border-radius(3px)
    &:focus
      outline: none
      border: 1px solid $apple
      @include box-shadow(0 0 7px -1px $apple)
  textarea
    height: 4em
  .checkbox
    width: auto
    height: auto
    margin-top: 0.7em
    &:focus
      @include box-shadow(none)
  .actions
    clear: both
    padding-top: 1em
    text-align: center
    input, a
      font-family: $fonts
      display: inline-block
      float: none
      margin: 0 auto
      font-weight: bold
      width: auto
      font-size: 1em
  .formError
    float: left
    color: $error
    position: relative
    top: -25px
    font-size: 0.8em
    margin-bottom: -15px
  .field_with_errors
    label
      padding-top: 0
    input, textarea, select
      @include button_up($error)
      background-color: lighten($error, 42)
      &:focus
        @include box-shadow(0 0 7px -1px $error)
    
table
  width: 100%
  border-collapse: collapse
  th
    @include gradient_background($apple)
    text-shadow: 0 -1px 1px darken($apple, 10)
    color: white
    padding: 4px 8px
    border-right: 1px solid lighten($apple, 30)
    &:last-child
      border-right: none
  td
    padding: 4px 8px
  tr.even
    td
      background-color: darken(white, 5)

.block
  margin: 10px

header
  text-shadow: 0 1px 1px white

  a.logo
    color: $apple
    display: block
    float: left
    overflow: hidden
    line-height: 50px
  h1
    height: 50px
    width: 123px
    background-image: url('../images/logo.gif')
    margin: 0
    cursor: pointer
    span
      display: none
          
  #version
    float: left
    line-height: 50px
    margin: 5px 0 0 15px
    font-size: 28px
    color: white
    text-shadow: 0 -1px 1px darken($back, 5)

  #language-selector
    float: right
    margin: 15px 0 0 20px
    padding-top: 0.3em
    a
      display: block
      width: 30px
      height: 22px
      background: transparent url(../images/flags.gif) left -22px
      @include hide-text
      @include smooth(background-position)
      @include box-shadow(1px 1px 1px darken(white, 40))
      &.fr
        background-position: left top
      &:hover
        background-position: left top
        &.fr
          background-position: left -22px
        
        
    
  #signin
    float: right
    line-height: 2.1em
    margin: 15px 0 15px 0
    text-align: right
    .actions
      float: right
      margin-left: 1em

#content
  background-color: $sidebar_back
  @include box-shadow(0px 1px 3px darken($back, 15))
  margin-bottom: 10px
  position: relative
  color: $color
  
  .flash, #alert
    position: absolute
    top: -10px
    left: 250px
    background-color: $apple
    color: white
    padding: 5px 10px
    text-shadow: 0 -1px 1px darken($apple, 10)
    border: 2px solid white
    @include box-shadow2(0px 1px 3px darken($back, 10), 0 0 1em darken($apple, 5) inset)
    &.error
      background-color: $error
      text-shadow: 0 -1px 1px darken($error, 10)
      @include box-shadow2(0px 1px 3px darken($back, 10), 0 0 1em darken($error, 10) inset) 
  #alert
    cursor: pointer


#breadcrumb
  ul
    margin: 0
    font-weight: bold
    height: 2em
    line-height: 2em
    font-size: 0.9em
    border-bottom: 1px solid darken($sidebar_back, 5)
    @include gradient_background($actions)
    text-shadow: 0 -1px 1px darken($actions, 15)
    color: white
    li
      float: left
      &.separator
        padding: 0 5px
      a
        display: block
        height: 2em
        padding: 0px 5px
        color: white
        &:hover
          @include gradient_background($apple)
          text-shadow: 0 -1px 1px darken($apple, 10)
        &:active
          @include back_gradient_background($apple)
          text-shadow: 0 -1px 1px darken($apple, 10)
          
nav .item
  a
    display: block
    line-height: 32px
    height: 32px
    padding: 0.5em 0 0.5em 55px
    background-position: 10px center
    background-repeat: no-repeat
    border-bottom: 1px solid darken($sidebar_back, 5)
    &:hover
      background-color: darken($sidebar_back, 40)
      color: white
  &.active a
    background-color: white
    position: relative
    left: -1px
    &:hover
      background-color: darken($sidebar_back, 40)
      color: white
      left: 0px
  &.dashboard a
    background-image: url(../images/icons/32/board.png)
  &.my-radio a
    background-image: url(../images/icons/32/microphone.png)
  &.my-profile a
    background-image: url(../images/icons/32/edit_group.png)
  &.admin a
    background-image: url(../images/icons/32/password.png)

#main
  background-color: white
  overflow: hidden

  .coming
    text-align: center
    margin-top: 3em
  .twitter
    text-align: center
    margin-top: 5em
    a
      display: block
      margin: 0 auto
      width: 271px
      font-size: 1.5em
      border: 1px solid white
      padding: 1em
      &:hover
        background-color: lighten($back, 10)
        border: 1px solid $back
        @include border-radius(3px)
  .actions
    float: right
    font-size: 0.8em
    margin: 0.7em 10px 0 0
  form
    .actions
      float: none
      font-size: 1em
      margin: auto

.app
  #main
    border-right: 1px solid darken($sidebar_back, 5)

  #misc
    float: right
    width: $sidebar_width
    background-color: #eee
    min-height: 10px

footer
  display: block
  color: #777
  font-size: 0.9em
  padding-bottom: 1em
  text-align: center
  text-shadow: 0 1px 0.1em white

img
  border: none

@import "dashboard"
