.split
  overflow: hidden
  clear: both
  label, .formError
    width: 20%
  input, textarea
    width: 73%
  select
    width: 75%
  .left, .right
    float: none
    width: auto

#wrapper
  width: auto
  margin: 0 15px
  min-width: 280px
