@import "definitions"

body
  font-size: 16px

.actions a,
.actions input,
input.button,
a.button
  text-shadow: 0 -1px 1px darken($actions, 20)

.split
  overflow: hidden
  clear: both
  label, .formError
    width: 30%
  input, textarea
    width: 63%
  .checkbox
    width: auto
  select
    width: 65%
  .left, .right
    float: none
    width: auto

#wrapper
  width: auto
  margin: 0 15px
  min-width: 550px
  
#main
  clear: both

#misc
  float: none
  width: auto
  margin-left: 0
  background-color: $sidebar_back

nav .item
  height: 64px
  float: left
  margin-right: 0.5em
  a
    background-position: center 5px
    height: 30px
    padding: 34px 0.8em 0px 0.8em

