body
  font-size: 16px

.split
  overflow: hidden
  clear: both
  label, .formError
    width: 30%
  input, textarea
    width: 63%
  .checkbox
    width: auto
  select
    width: 65%
  .left, .right
    float: none
    width: auto

#wrapper
  width: auto
  margin: 0 15px
  min-width: 280px
