body {
  background: #333333 url(../images/bg.png);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #cccccc;
  font-size: 13px;
  font-family: Helvetica, Sans, Arial; }

#wrapper {
  width: 870px;
  margin: 0 auto;
  text-align: left; }
  #wrapper.app {
    width: auto;
    margin: 0 15px; }

a {
  text-decoration: none;
  color: #88c833; }

a:hover {
  color: #abda6e; }

img {
  border: none;
  vertical-align: middle; }

.clear {
  clear: both;
  display: block; }

h2 {
  padding: 0.3em 10px;
  margin: 0;
  color: #88c833; }

ul {
  list-style: none;
  padding: 0; }

cite {
  color: #776655; }

.block {
  margin: 10px; }
  .block h2 {
    padding-left: 0; }

.actions a,
.actions input,
input.button,
a.button {
  display: block;
  background: #777777;
  background-image: -moz-linear-gradient(top, #9d9d9d, #777777);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9d9d9d), to(#777777));
  -webkit-box-shadow: 0px 0px 1px black;
  box-shadow: 0px 0px 1px black;
  -moz-box-shadow: 0px 0px 1px black;
  text-shadow: 0 -1px 0px #515151;
  color: white;
  font-weight: bold;
  padding: 0px 0.5em;
  border: 1px solid #777777;
  cursor: pointer;
  border-color: #777777 #5e5e5e #5e5e5e #777777;
  line-height: 2em; }
  .actions a:hover,
  .actions input:hover,
  input.button:hover,
  a.button:hover {
    color: white;
    background: #88c833;
    background-image: -moz-linear-gradient(top, #abda6e, #88c833);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833));
    text-shadow: 0 -1px 0px #6c9f29;
    border-color: #88c833 #6c9f29 #6c9f29 #88c833;
    -webkit-box-shadow: 0px 0px 5px #94d045;
    box-shadow: 0px 0px 5px #94d045;
    -moz-box-shadow: 0px 0px 5px #94d045; }
    .actions a:hover.important,
    .actions input:hover.important,
    input.button:hover.important,
    a.button:hover.important {
      background: #ee6644;
      background-image: -moz-linear-gradient(top, #f49f8a, #ee6644);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f49f8a), to(#ee6644));
      text-shadow: 0 -1px 0px #ea4015;
      border-color: #ee6644 #ea4015 #ea4015 #ee6644;
      -webkit-box-shadow: 0px 0px 5px #f0795b;
      box-shadow: 0px 0px 5px #f0795b;
      -moz-box-shadow: 0px 0px 5px #f0795b; }
  .actions a:active,
  .actions input:active,
  input.button:active,
  a.button:active {
    color: white;
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #88c833, #a0d559);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c833), to(#a0d559));
    text-shadow: 0 -1px 0px #6c9f29;
    border-color: #6c9f29 #6c9f29 #6c9f29 #6c9f29;
    -webkit-box-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 2px black;
    -moz-box-shadow: 0px 0px 2px black; }
    .actions a:active.important,
    .actions input:active.important,
    input.button:active.important,
    a.button:active.important {
      background: #ec532d;
      background-image: -moz-linear-gradient(top, #ee6644, #f28c73);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee6644), to(#f28c73));
      text-shadow: 0 -1px 0px #ea4015;
      border-color: #ea4015 #ea4015 #ea4015 #ea4015;
      -webkit-box-shadow: 0px 0px 1px black;
      box-shadow: 0px 0px 1px black;
      -moz-box-shadow: 0px 0px 1px black; }

.actions a {
  float: left; }
  .actions a:first-child {
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px; }
  .actions a:last-child {
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px; }

.split {
  overflow: hidden;
  clear: both; }
  .split label, .split .formError {
    width: 40%; }
  .split input, .split textarea {
    width: 48%; }
  .split select {
    width: 50%; }
  .split .left {
    float: left;
    width: 50%; }
  .split .right {
    float: right;
    width: 50%; }

form {
  padding: 1em; }
  form label, form input, form textarea, form select {
    display: block;
    float: left;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.6em; }
  form label, form .formError {
    clear: both;
    width: 20%;
    padding: 0.4em 0;
    text-align: right; }
  form input, form textarea, form select, form a {
    border: 1px solid #333333;
    background-color: #404040 !important;
    color: white;
    border-color: #0d0d0d #0d0d0d #0d0d0d #0d0d0d;
    padding: 0.4em 0.3em;
    margin-left: 1em;
    width: 74%;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px; }
    form input:focus, form textarea:focus, form select:focus, form a:focus {
      outline: none;
      border: 1px solid #88c833;
      -webkit-box-shadow: 0 0 9px -1px #88c833;
      box-shadow: 0 0 9px -1px #88c833;
      -moz-box-shadow: 0 0 9px -1px #88c833; }
  form input:-webkit-autofill {
    color: black; }
  form textarea {
    height: 4em; }
  form .checkbox {
    width: auto;
    height: auto;
    margin-top: 0.7em; }
    form .checkbox:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      -moz-box-shadow: none; }
  form .actions {
    clear: both;
    padding-top: 1em;
    text-align: center; }
    form .actions input, form .actions a {
      font-family: Helvetica, Sans, Arial;
      display: inline-block;
      float: none;
      margin: 0 auto;
      font-weight: bold;
      width: auto;
      font-size: 1em; }
  form .formError {
    float: left;
    color: #ee6644;
    position: relative;
    top: -25px;
    font-size: 0.8em;
    margin-bottom: -15px; }
  form .field_with_errors label {
    padding-top: 0; }
  form .field_with_errors input, form .field_with_errors textarea, form .field_with_errors select {
    border-color: #ee6644 #ea4015 #ea4015 #ee6644; }
    form .field_with_errors input:focus, form .field_with_errors textarea:focus, form .field_with_errors select:focus {
      -webkit-box-shadow: 0 0 9px -1px #ee6644;
      box-shadow: 0 0 9px -1px #ee6644;
      -moz-box-shadow: 0 0 9px -1px #ee6644; }

table {
  width: 100%;
  border-spacing: 0;
  border-bottom: 2px solid #7ab42e; }
  table th {
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #a0d559, #7ab42e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a0d559), to(#7ab42e));
    text-shadow: 0 -1px 1px #5f8b23;
    color: white;
    padding: 4px 8px;
    border-right: 1px solid #6c9f29;
    border-left: 1px solid #abda6e; }
    table th:last-child {
      border-right: none; }
    table th:first-child {
      border-left: none; }
  table td {
    padding: 0 8px;
    line-height: 2em; }
    table td img {
      vertical-align: middle; }
  table tr.even td {
    background-color: #333333; }

header {
  display: block;
  text-shadow: 0 -1px 0px black;
  margin-top: 1.2em;
  height: 80px;
  color: #999999;
  position: relative; }
  header a.logo {
    color: #88c833;
    display: block;
    float: left;
    overflow: hidden;
    line-height: 60px; }
  header h1 {
    height: 60px;
    width: 140px;
    background-image: url("../images/logo.png");
    margin: 0;
    cursor: pointer; }
    header h1 span {
      display: none; }
  header #version {
    position: absolute;
    width: 142px;
    text-align: right;
    top: 0px;
    left: 0px;
    line-height: 30px;
    font-size: 18px;
    color: #cccccc; }
  header #language-selector {
    float: right;
    margin: 15px 0 0 20px;
    padding-top: 0.3em; }
    header #language-selector a {
      display: block;
      width: 30px;
      height: 22px;
      background: transparent url(../images/flags.gif) left -22px;
      text-indent: -10000px;
      text-shadow: none;
      -moz-transition: background-position 0.3s linear;
      -o-transition: background-position 0.3s linear;
      -webkit-transition: background-position 0.3s linear;
      transition: background-position 0.3s linear;
      -webkit-box-shadow: 1px 1px 1px black;
      box-shadow: 1px 1px 1px black;
      -moz-box-shadow: 1px 1px 1px black; }
      header #language-selector a.fr {
        background-position: left top; }
      header #language-selector a:hover {
        background-position: left top; }
        header #language-selector a:hover.fr {
          background-position: left -22px; }
  header #signin {
    float: right;
    line-height: 2.1em;
    margin: 15px 0 15px 0;
    text-align: right; }
    header #signin .actions {
      float: right;
      margin-left: 1em; }

#content {
  margin-bottom: 10px;
  color: #bbbbbb;
  clear: both; }
  #content .flash {
    color: white;
    line-height: 30px;
    padding-left: 0.5em;
    text-shadow: 0 -1px 1px #51771e;
    margin-bottom: 1em;
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #a0d559, #7ab42e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a0d559), to(#7ab42e)); }
    #content .flash a.close {
      float: right;
      color: white;
      display: block;
      height: 30px;
      width: 40px;
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      background: transparent url(../images/icons/16/white-cross.png) center center no-repeat;
      overflow: hidden;
      text-indent: -100px; }
    #content .flash.error {
      background: #ea4015;
      background-image: -moz-linear-gradient(top, #f0795b, #ea4015);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0795b), to(#ea4015));
      text-shadow: 0 -1px 1px #8c260d; }

#main {
  border: 1px solid #333333;
  border-color: #1f1f1f #404040 #404040 #1f1f1f;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  background-color: #262626;
  overflow: hidden;
  min-height: 200px;
  text-shadow: 0 -1px 1px #0d0d0d; }
  #main .intro {
    margin: 2em auto;
    width: 550px; }
    #main .intro p {
      text-align: justify;
      padding: 0 10px; }
    #main .intro .mozaic {
      padding: 0;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      color: white; }
      #main .intro .mozaic img {
        vertical-align: middle;
        -webkit-box-shadow: 0 1px 4px black;
        box-shadow: 0 1px 4px black;
        -moz-box-shadow: 0 1px 4px black; }
  #main .actions {
    float: right;
    font-size: 0.9em;
    margin: 0 0 1em 1em; }
  #main > .actions {
    margin: 0.7em 10px 0 0; }
  #main form .actions {
    float: none;
    font-size: 1em;
    margin: auto; }

#misc {
  float: right;
  width: 200px;
  min-height: 10px;
  margin-left: 1em; }

#breadcrumb ul {
  margin: 0;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  font-size: 0.9em;
  border-bottom: 1px solid #262626;
  background: #777777;
  background-image: -moz-linear-gradient(top, #9d9d9d, #777777);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9d9d9d), to(#777777));
  text-shadow: 0 -1px 1px #515151;
  color: white; }
  #breadcrumb ul li {
    float: left; }
    #breadcrumb ul li.separator {
      padding: 0 5px; }
    #breadcrumb ul li a {
      display: block;
      height: 2em;
      padding: 0px 5px;
      color: white; }
      #breadcrumb ul li a:hover {
        background: #88c833;
        background-image: -moz-linear-gradient(top, #abda6e, #88c833);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833));
        text-shadow: 0 -1px 1px #6c9f29; }
      #breadcrumb ul li a:active {
        background: #7ab42e;
        background-image: -moz-linear-gradient(top, #88c833, #a0d559);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c833), to(#a0d559));
        text-shadow: 0 -1px 1px #6c9f29; }

nav .item {
  height: 38px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  margin-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.1); }
  nav .item:hover {
    background: #88c833;
    background-image: -moz-linear-gradient(top, #abda6e, #88c833);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833)); }
  nav .item a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding: 3px 0 3px 55px;
    background-position: 10px center;
    background-repeat: no-repeat; }
    nav .item a:hover {
      color: white; }
  nav .item.active {
    background-color: #262626; }
    nav .item.active a {
      color: white; }
  nav .item.home a {
    background-image: url(../images/icons/32/home.png); }
  nav .item.contact a {
    background-image: url(../images/icons/32/contact.png); }
  nav .item.overview a {
    background-image: url(../images/icons/32/gear.png); }
  nav .item.dashboard a {
    background-image: url(../images/icons/32/board.png); }
  nav .item.my-radio a {
    background-image: url(../images/icons/32/microphone.png); }
  nav .item.my-profile a {
    background-image: url(../images/icons/32/edit_group.png); }
  nav .item.admin a {
    background-image: url(../images/icons/32/password.png); }

footer {
  display: block;
  color: #777777;
  font-size: 0.9em;
  padding-bottom: 1em;
  text-align: center;
  text-shadow: 0 -1px 0.1em #1a1a1a; }
  footer a {
    display: inline-block;
    border-left: 1px solid #777777;
    padding-left: 0.9em;
    margin-left: 0.7em;
    line-height: 0.8em;
    height: 1em; }

.license {
  margin: 2em 3em;
  text-align: justify; }
  .license ul {
    list-style: circle;
    padding-left: 2em; }

.radio {
  background: transparent url(../images/icons/microphone.png) left center no-repeat;
  min-height: 48px;
  padding-left: 55px; }
  .radio .name {
    font-size: 1.2em; }
  .radio .description {
    margin-top: 0.3em;
    text-align: justify; }
  .radio .freq {
    margin-top: 0.3em;
    font-weight: bold; }

a.new-radio, a.join-radio {
  display: block;
  margin: 1em;
  padding: 0 1em;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px; }
  a.new-radio h4, a.join-radio h4 {
    font-size: 1.5em;
    padding: 0.9em 0 0.9em 50px;
    margin: 0;
    margin-top: 0.4em;
    text-align: center; }
  a.new-radio p, a.join-radio p {
    text-align: justify;
    color: black;
    font-weight: normal;
    min-height: 3em;
    line-height: 1.4em;
    margin: 0.5em 0;
    text-shadow: 0 1px 1px #b7b7b7; }

a.new-radio h4 {
  background: url(../images/icons/microphone.png) left center no-repeat; }

a.join-radio h4 {
  background: url(../images/icons/join-radio.png) left center no-repeat; }

div#carousel {
  height: 265px;
  width: 515px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  position: relative; }
  div#carousel img#slide-left,
  div#carousel img#slide-right {
    top: 105px;
    z-index: -100px;
    position: absolute; }
  div#carousel img#slide-left {
    left: -24px; }
    div#carousel img#slide-left:hover {
      cursor: pointer; }
  div#carousel img#slide-right {
    right: -24px; }
    div#carousel img#slide-right:hover {
      cursor: pointer; }

div#carousel-images {
  width: 515px;
  height: 260px;
  position: absolute;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px #111111; }
  div#carousel-images ul {
    width: 10000px;
    height: 260px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    position: relative; }
    div#carousel-images ul li {
      width: 515px;
      float: left;
      z-index: 100;
      position: relative; }
      div#carousel-images ul li span {
        display: block;
        width: 485px;
        left: 5px;
        bottom: 5px;
        padding: 10px;
        text-align: left;
        font-size: 0.9em;
        font-weight: bold;
        text-shadow: 0px -1px 1px black;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute; }
      div#carousel-images ul li img {
        border: 5px solid white;
        border-radius: 3px; }
