body {
  background-color: #dfdfda;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333333;
  font-size: 13px;
  font-family: Sans, Arial; }

#wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  padding-top: 10px; }
  #wrapper.app {
    width: auto;
    margin: 0 15px; }
  #wrapper.alert {
    width: 40em;
    margin: 0 auto; }

a {
  text-decoration: none;
  color: #991c13; }

a:hover {
  color: #e5392d; }

.clear {
  clear: both;
  display: block; }

h2 {
  padding: 0.3em 10px;
  margin: 0;
  color: #e5392d; }

ul {
  list-style: none;
  padding: 0; }

.actions a,
.actions input,
input.button,
a.button {
  display: block;
  background: #999988;
  background-image: -moz-linear-gradient(top, #bcbcb1, #999988);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bcbcb1), to(#999988));
  -webkit-box-shadow: 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  -moz-box-shadow: 1px 1px 1px #cccccc;
  text-shadow: 0 -1px 0px #727262;
  color: white;
  font-weight: bold;
  padding: 0px 0.5em;
  border: 1px solid #999988;
  cursor: pointer;
  border-color: #999988 #80806e #80806e #999988;
  line-height: 2em; }
  .actions a:hover,
  .actions input:hover,
  input.button:hover,
  a.button:hover {
    color: white;
    background: #88c833;
    background-image: -moz-linear-gradient(top, #abda6e, #88c833);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833));
    text-shadow: 0 -1px 0px #6c9f29;
    border-color: #88c833 #6c9f29 #6c9f29 #88c833;
    -webkit-box-shadow: 0px 0px 5px #94d045;
    box-shadow: 0px 0px 5px #94d045;
    -moz-box-shadow: 0px 0px 5px #94d045; }
    .actions a:hover.important,
    .actions input:hover.important,
    input.button:hover.important,
    a.button:hover.important {
      background: #e5392d;
      background-image: -moz-linear-gradient(top, #ed7971, #e5392d);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed7971), to(#e5392d));
      text-shadow: 0 -1px 0px #c62419;
      border-color: #e5392d #c62419 #c62419 #e5392d;
      -webkit-box-shadow: 0px 0px 5px #e84e44;
      box-shadow: 0px 0px 5px #e84e44;
      -moz-box-shadow: 0px 0px 5px #e84e44; }
  .actions a:active,
  .actions input:active,
  input.button:active,
  a.button:active {
    color: white;
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #88c833, #a0d559);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c833), to(#a0d559));
    text-shadow: 0 -1px 0px #6c9f29;
    border-color: #6c9f29 #6c9f29 #6c9f29 #6c9f29;
    -webkit-box-shadow: 0px 0px 2px #b3b3b3;
    box-shadow: 0px 0px 2px #b3b3b3;
    -moz-box-shadow: 0px 0px 2px #b3b3b3; }
    .actions a:active.important,
    .actions input:active.important,
    input.button:active.important,
    a.button:active.important {
      background: #dd281b;
      background-image: -moz-linear-gradient(top, #e5392d, #eb645a);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5392d), to(#eb645a));
      text-shadow: 0 -1px 0px #c62419;
      border-color: #c62419 #c62419 #c62419 #c62419;
      -webkit-box-shadow: -1px -1px 1px #cccccc;
      box-shadow: -1px -1px 1px #cccccc;
      -moz-box-shadow: -1px -1px 1px #cccccc; }

.actions a {
  float: left; }
  .actions a:first-child {
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px; }
  .actions a:last-child {
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px; }

.split {
  overflow: hidden;
  clear: both; }
  .split label, .split .formError {
    width: 40%; }
  .split input, .split textarea {
    width: 48%; }
  .split select {
    width: 50%; }
  .split .left {
    float: left;
    width: 50%; }
  .split .right {
    float: right;
    width: 50%; }

form {
  padding: 1em; }
  form label, form input, form textarea, form select {
    display: block;
    float: left;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.6em; }
  form label, form .formError {
    clear: both;
    width: 20%;
    padding: 0.4em 0;
    text-align: right; }
  form input, form textarea, form select, form a {
    border: 1px solid #dfdfda;
    border-color: #dfdfda #c7c7bf #c7c7bf #dfdfda;
    padding: 0.4em 0.3em;
    margin-left: 1em;
    width: 74%;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px; }
    form input:focus, form textarea:focus, form select:focus, form a:focus {
      outline: none;
      border: 1px solid #88c833;
      -webkit-box-shadow: 0 0 7px -1px #88c833;
      box-shadow: 0 0 7px -1px #88c833;
      -moz-box-shadow: 0 0 7px -1px #88c833; }
  form textarea {
    height: 4em; }
  form .checkbox {
    width: auto;
    height: auto;
    margin-top: 0.7em; }
    form .checkbox:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      -moz-box-shadow: none; }
  form .actions {
    clear: both;
    padding-top: 1em;
    text-align: center; }
    form .actions input, form .actions a {
      font-family: Sans, Arial;
      display: inline-block;
      float: none;
      margin: 0 auto;
      font-weight: bold;
      width: auto;
      font-size: 1em; }
  form .formError {
    float: left;
    color: #e5392d;
    position: relative;
    top: -25px;
    font-size: 0.8em;
    margin-bottom: -15px; }
  form .field_with_errors label {
    padding-top: 0; }
  form .field_with_errors input, form .field_with_errors textarea, form .field_with_errors select {
    border-color: #e5392d #c62419 #c62419 #e5392d;
    background-color: #fdedec; }
    form .field_with_errors input:focus, form .field_with_errors textarea:focus, form .field_with_errors select:focus {
      -webkit-box-shadow: 0 0 7px -1px #e5392d;
      box-shadow: 0 0 7px -1px #e5392d;
      -moz-box-shadow: 0 0 7px -1px #e5392d; }

table {
  width: 100%;
  border-spacing: 0;
  border-bottom: 2px solid #88c833; }
  table th {
    background: #88c833;
    background-image: -moz-linear-gradient(top, #abda6e, #88c833);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833));
    text-shadow: 0 -1px 1px #6c9f29;
    color: white;
    padding: 4px 8px;
    border-right: 1px solid #7ab42e;
    border-left: 1px solid #b7df82; }
    table th:last-child {
      border-right: none; }
  table td {
    padding: 0 8px;
    line-height: 2em; }
    table td img {
      vertical-align: middle; }
  table tr.even td {
    background-color: #f2f2f2; }

.block {
  margin: 10px; }

header {
  text-shadow: 0 1px 1px white; }
  header a.logo {
    color: #88c833;
    display: block;
    float: left;
    overflow: hidden;
    line-height: 50px; }
  header h1 {
    height: 50px;
    width: 123px;
    background-image: url("../images/logo.gif");
    margin: 0;
    cursor: pointer; }
    header h1 span {
      display: none; }
  header #version {
    float: left;
    line-height: 50px;
    margin: 5px 0 0 15px;
    font-size: 28px;
    color: white;
    text-shadow: 0 -1px 1px #d3d3cc; }
  header #language-selector {
    float: right;
    margin: 15px 0 0 20px;
    padding-top: 0.3em; }
    header #language-selector a {
      display: block;
      width: 30px;
      height: 22px;
      background: transparent url(../images/flags.gif) left -22px;
      text-indent: -10000px;
      text-shadow: none;
      -moz-transition: background-position 0.3s linear;
      -o-transition: background-position 0.3s linear;
      -webkit-transition: background-position 0.3s linear;
      transition: background-position 0.3s linear;
      -webkit-box-shadow: 1px 1px 1px #999999;
      box-shadow: 1px 1px 1px #999999;
      -moz-box-shadow: 1px 1px 1px #999999; }
      header #language-selector a.fr {
        background-position: left top; }
      header #language-selector a:hover {
        background-position: left top; }
        header #language-selector a:hover.fr {
          background-position: left -22px; }
  header #signin {
    float: right;
    line-height: 2.1em;
    margin: 15px 0 15px 0;
    text-align: right; }
    header #signin .actions {
      float: right;
      margin-left: 1em; }

#content {
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 1px 3px #bcbcb1;
  box-shadow: 0px 1px 3px #bcbcb1;
  -moz-box-shadow: 0px 1px 3px #bcbcb1;
  margin-bottom: 10px;
  position: relative;
  color: #666666; }
  #content .flash, #content #alert {
    position: absolute;
    top: -10px;
    left: 250px;
    background-color: #88c833;
    color: white;
    padding: 5px 10px;
    text-shadow: 0 -1px 1px #6c9f29;
    border: 2px solid white;
    -webkit-box-shadow: 0px 1px 3px #c7c7bf, 0 0 1em #7ab42e inset;
    box-shadow: 0px 1px 3px #c7c7bf, 0 0 1em #7ab42e inset;
    -moz-box-shadow: 0px 1px 3px #c7c7bf, 0 0 1em #7ab42e inset; }
    #content .flash.error, #content #alert.error {
      background-color: #e5392d;
      text-shadow: 0 -1px 1px #c62419;
      -webkit-box-shadow: 0px 1px 3px #c7c7bf, 0 0 1em #c62419 inset;
      box-shadow: 0px 1px 3px #c7c7bf, 0 0 1em #c62419 inset;
      -moz-box-shadow: 0px 1px 3px #c7c7bf, 0 0 1em #c62419 inset; }
  #content #alert {
    cursor: pointer; }

#breadcrumb ul {
  margin: 0;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  font-size: 0.9em;
  border-bottom: 1px solid #e1e1e1;
  background: #999988;
  background-image: -moz-linear-gradient(top, #bcbcb1, #999988);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bcbcb1), to(#999988));
  text-shadow: 0 -1px 1px #727262;
  color: white; }
  #breadcrumb ul li {
    float: left; }
    #breadcrumb ul li.separator {
      padding: 0 5px; }
    #breadcrumb ul li a {
      display: block;
      height: 2em;
      padding: 0px 5px;
      color: white; }
      #breadcrumb ul li a:hover {
        background: #88c833;
        background-image: -moz-linear-gradient(top, #abda6e, #88c833);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833));
        text-shadow: 0 -1px 1px #6c9f29; }
      #breadcrumb ul li a:active {
        background: #7ab42e;
        background-image: -moz-linear-gradient(top, #88c833, #a0d559);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c833), to(#a0d559));
        text-shadow: 0 -1px 1px #6c9f29; }

nav .item a {
  display: block;
  line-height: 32px;
  height: 32px;
  padding: 0.5em 0 0.5em 55px;
  background-position: 10px center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e1e1e1; }
  nav .item a:hover {
    background-color: #888888;
    color: white; }
nav .item.active a {
  background-color: white;
  position: relative;
  left: -1px; }
  nav .item.active a:hover {
    background-color: #888888;
    color: white;
    left: 0px; }
nav .item.dashboard a {
  background-image: url(../images/icons/32/board.png); }
nav .item.my-radio a {
  background-image: url(../images/icons/32/microphone.png); }
nav .item.my-profile a {
  background-image: url(../images/icons/32/edit_group.png); }
nav .item.admin a {
  background-image: url(../images/icons/32/password.png); }

#main {
  background-color: white;
  overflow: hidden; }
  #main .coming {
    text-align: center;
    margin-top: 3em; }
  #main .twitter {
    text-align: center;
    margin-top: 5em; }
    #main .twitter a {
      display: block;
      margin: 0 auto;
      width: 271px;
      font-size: 1.5em;
      border: 1px solid white;
      padding: 1em; }
      #main .twitter a:hover {
        background-color: #f7f7f5;
        border: 1px solid #dfdfda;
        border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-bottom-right-radius: 3px;
        -moz-border-radius-bottomright: 3px; }
  #main .actions {
    float: right;
    font-size: 0.8em;
    margin: 0 0 1em 1em; }
  #main > .actions {
    margin: 0.7em 10px 0 0; }
  #main form .actions {
    float: none;
    font-size: 1em;
    margin: auto; }

.app #main {
  border-right: 1px solid #e1e1e1; }
.app #misc {
  float: right;
  width: 200px;
  background-color: #eeeeee;
  min-height: 10px; }

footer {
  display: block;
  color: #777777;
  font-size: 0.9em;
  padding-bottom: 1em;
  text-align: center;
  text-shadow: 0 1px 0.1em white; }

img {
  border: none; }

a.new-radio, a.join-radio {
  display: block;
  margin: 1em;
  padding: 0 1em;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px; }
  a.new-radio h4, a.join-radio h4 {
    font-size: 1.5em;
    padding: 0.9em 0 0.9em 50px;
    margin: 0;
    margin-top: 0.4em;
    text-align: center; }
  a.new-radio p, a.join-radio p {
    text-align: justify;
    color: black;
    font-weight: normal;
    min-height: 3em;
    line-height: 1.4em;
    margin: 0.5em 0;
    text-shadow: 0 1px 1px #d4d4cd; }

a.new-radio h4 {
  background: url(../images/icons/microphone.png) left center no-repeat; }

a.join-radio h4 {
  background: url(../images/icons/join-radio.png) left center no-repeat; }
