body {
  background: #333333 url(../images/bg.png);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #cccccc;
  font-size: 14px;
  line-height: 1.4em;
  font-family: Tahoma, Geneva, sans-serif; }

#wrapper {
  width: 870px;
  margin: 0 auto;
  text-align: left; }
  #wrapper.app {
    width: auto;
    margin: 0 15px; }
  #wrapper.alert {
    width: 500px; }

a {
  text-decoration: none;
  color: #88c833; }

a:hover {
  color: #abda6e; }

img {
  border: none;
  vertical-align: middle; }

.clear {
  float: none !important;
  clear: both !important;
  display: block !important; }

h2 {
  padding: 0.3em 10px;
  margin: 0;
  color: #88c833;
  border-bottom: 1px solid #333333; }

.tagline {
  border: none;
  font-weight: normal;
  line-height: 1.3em;
  font-size: 1.5em;
  text-shadow: 0 -1px 1px black; }

h3 {
  color: white; }

h4 {
  color: white;
  font-weight: normal;
  font-size: 1.1em;
  margin: 0.5em 0; }

ul {
  list-style: none;
  padding: 0; }

cite {
  color: #776655; }

.block {
  margin: 10px; }
  .block h2 {
    padding-left: 0; }

dl dd {
  margin: 0.3em 0 1em 0; }
dl.icons dt {
  color: white;
  background: transparent url(../images/icons/16/info.png) left bottom no-repeat;
  line-height: 17px;
  padding-left: 22px; }
  dl.icons dt.signal {
    background-image: url(../images/icons/16/transmit.png); }
  dl.icons dt.website {
    background-image: url(../images/icons/16/link.png); }

ul.features {
  padding: 0;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #333333; }
  ul.features li {
    float: left;
    width: 48%;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: 100% 0.2em; }
    ul.features li h4 {
      padding-right: 10px; }
    ul.features li details {
      display: block;
      font-size: 0.9em;
      text-align: justify; }
    ul.features li.technologies, ul.features li.remote {
      clear: both; }
    ul.features li.social, ul.features li.integration {
      float: right; }
    ul.features li.technologies {
      background-image: url(../images/icons/32/board.png); }
    ul.features li.social {
      background-image: url(../images/icons/32/chat.png); }
    ul.features li.remote {
      background-image: url(../images/icons/32/iPad.png); }
    ul.features li.integration {
      background-image: url(../images/icons/32/magic.png); }

p.reliability {
  background: transparent url(../images/icons/32/note.png) 0 center no-repeat;
  padding-left: 45px;
  text-align: justify; }

.actions a,
.actions input,
input.button,
a.button,
input[type=submit] {
  display: block;
  background: #555555;
  background-image: -moz-linear-gradient(top, #7b7b7b, #555555);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7b7b7b), to(#555555));
  -webkit-box-shadow: 0px 0px 3px black;
  box-shadow: 0px 0px 3px black;
  -moz-box-shadow: 0px 0px 3px black;
  text-shadow: 0 -1px 0px #3b3b3b;
  color: white;
  font-weight: bold;
  padding: 0px 0.7em;
  cursor: pointer;
  line-height: 2em;
  border: none; }
  .actions a:hover,
  .actions input:hover,
  input.button:hover,
  a.button:hover,
  input[type=submit]:hover {
    color: white;
    background: #7b7b7b;
    background-image: -moz-linear-gradient(top, #a2a2a2, #7b7b7b);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2a2a2), to(#7b7b7b));
    border-color: #88c833 #6c9f29 #6c9f29 #88c833;
    -webkit-box-shadow: 0px 0px 5px #888888;
    box-shadow: 0px 0px 5px #888888;
    -moz-box-shadow: 0px 0px 5px #888888; }
    .actions a:hover.important,
    .actions input:hover.important,
    input.button:hover.important,
    a.button:hover.important,
    input[type=submit]:hover.important {
      background: #ee5533;
      background-image: -moz-linear-gradient(top, #f4907a, #ee5533);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4907a), to(#ee5533));
      text-shadow: 0 -1px 0px #c43110;
      -webkit-box-shadow: 0px 0px 5px #f27c62;
      box-shadow: 0px 0px 5px #f27c62;
      -moz-box-shadow: 0px 0px 5px #f27c62; }
  .actions a:active,
  .actions input:active,
  input.button:active,
  a.button:active,
  input[type=submit]:active {
    color: white;
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #88c833, #a0d559);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c833), to(#a0d559));
    text-shadow: 0 -1px 0px #5f8b23;
    -webkit-box-shadow: 0px 0px 2px #080808;
    box-shadow: 0px 0px 2px #080808;
    -moz-box-shadow: 0px 0px 2px #080808; }
    .actions a:active.important,
    .actions input:active.important,
    input.button:active.important,
    a.button:active.important,
    input[type=submit]:active.important {
      background: #ec411b;
      background-image: -moz-linear-gradient(top, #ee5533, #f27c62);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee5533), to(#f27c62));
      text-shadow: 0 -1px 0px #dc3712;
      border-color: #dc3712 #dc3712 #dc3712 #dc3712;
      -webkit-box-shadow: 0px 0px 1px black;
      box-shadow: 0px 0px 1px black;
      -moz-box-shadow: 0px 0px 1px black; }

.actions a {
  float: left; }
  .actions a:first-child {
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px; }
  .actions a:last-child {
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px; }

.split {
  overflow: hidden;
  clear: both; }
  .split label, .split .formError {
    width: 40%; }
  .split input, .split textarea {
    width: 48%; }
  .split select {
    width: 50%; }
  .split .left {
    float: left;
    width: 50%; }
  .split .right {
    float: right;
    width: 50%; }

form {
  padding: 1em; }
  form label, form input, form textarea, form select {
    display: block;
    float: left;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.6em; }
  form label, form .formError {
    clear: both;
    width: 20%;
    padding: 0.4em 0;
    text-align: right; }
  form input, form textarea, form select, form a {
    border: 1px solid #333333;
    background-color: #404040 !important;
    color: white;
    border-color: #0d0d0d #0d0d0d #0d0d0d #0d0d0d;
    padding: 0.4em 0.3em;
    margin-left: 1em;
    width: 74%;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px; }
    form input:focus, form textarea:focus, form select:focus, form a:focus {
      outline: none;
      border: 1px solid #88c833;
      -webkit-box-shadow: 0 0 9px -1px #88c833;
      box-shadow: 0 0 9px -1px #88c833;
      -moz-box-shadow: 0 0 9px -1px #88c833; }
  form input:-webkit-autofill {
    color: black; }
  form textarea {
    height: 4em; }
  form .checkbox {
    width: auto;
    height: auto;
    margin-top: 0.7em; }
    form .checkbox:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      -moz-box-shadow: none; }
  form .actions {
    clear: both;
    padding-top: 1em;
    text-align: center; }
    form .actions input, form .actions a {
      font-family: Tahoma, Geneva, sans-serif;
      display: inline-block;
      float: none;
      margin: 0 auto;
      font-weight: bold;
      width: auto;
      font-size: 1em; }
  form .formError {
    float: left;
    color: #ee5533;
    position: relative;
    top: -25px;
    font-size: 0.8em;
    margin-bottom: -15px; }
  form .field_with_errors label {
    padding-top: 0; }
  form .field_with_errors input, form .field_with_errors textarea, form .field_with_errors select {
    border-color: #ee5533 #dc3712 #dc3712 #ee5533; }
    form .field_with_errors input:focus, form .field_with_errors textarea:focus, form .field_with_errors select:focus {
      -webkit-box-shadow: 0 0 9px -1px #ee5533;
      box-shadow: 0 0 9px -1px #ee5533;
      -moz-box-shadow: 0 0 9px -1px #ee5533; }
  form.button_to {
    padding: 0;
    display: inline-block; }
    form.button_to input {
      width: auto;
      float: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-bottom: 2px solid #7ab42e; }
  table th {
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #a0d559, #7ab42e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a0d559), to(#7ab42e));
    text-shadow: 0 -1px 1px #5f8b23;
    color: white;
    padding: 0.3em 8px;
    border-right: 1px solid #6c9f29;
    border-left: 1px solid #abda6e; }
    table th:last-child {
      border-right: none; }
    table th:first-child {
      border-left: none; }
  table td {
    padding: 0 8px;
    line-height: 2em; }
    table td img {
      vertical-align: middle; }
  table tr.even td {
    background-color: #333333; }
  table tr.expired td {
    color: #7b7b7b; }

header {
  display: block;
  text-shadow: 0 -1px 0px black;
  margin-top: 1.2em;
  height: 80px;
  color: #999999;
  position: relative; }
  header a.logo {
    color: #88c833;
    display: block;
    float: left;
    overflow: hidden;
    line-height: 60px; }
  header h1 {
    height: 60px;
    width: 140px;
    background-image: url("../images/logo.png");
    margin: 0;
    cursor: pointer; }
    header h1 span {
      display: none; }
  header #version {
    position: absolute;
    width: 52px;
    text-align: right;
    top: 0px;
    left: 90px;
    line-height: 30px;
    font-size: 18px;
    color: #cccccc; }
  header #language-selector {
    float: right;
    margin: 15px 0 0 20px;
    padding-top: 0.3em; }
    header #language-selector a {
      display: block;
      width: 30px;
      height: 22px;
      background: transparent url(../images/flags.gif) left -22px;
      text-indent: -10000px;
      text-shadow: none;
      -moz-transition: background-position 0.3s linear;
      -o-transition: background-position 0.3s linear;
      -webkit-transition: background-position 0.3s linear;
      transition: background-position 0.3s linear;
      -webkit-box-shadow: 1px 1px 1px black;
      box-shadow: 1px 1px 1px black;
      -moz-box-shadow: 1px 1px 1px black; }
      header #language-selector a.fr {
        background-position: left top; }
      header #language-selector a:hover {
        background-position: left top; }
        header #language-selector a:hover.fr {
          background-position: left -22px; }
  header #signin {
    float: right;
    line-height: 2.1em;
    margin: 15px 0 15px 0;
    text-align: right; }
    header #signin .actions {
      float: right;
      margin-left: 1em; }

#content {
  margin-bottom: 10px;
  color: #bbbbbb;
  clear: both; }
  #content .flash {
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 0.8em;
    text-shadow: 0 -1px 0px #51771e;
    margin-bottom: 1em;
    background: #7ab42e;
    background-image: -moz-linear-gradient(top, #a0d559, #7ab42e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a0d559), to(#7ab42e)); }
    #content .flash a.close {
      float: right;
      color: white;
      display: block;
      height: 30px;
      width: 40px;
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      background: transparent url(../images/icons/16/white-cross.png) center center no-repeat;
      overflow: hidden;
      text-indent: -100px; }
    #content .flash.error {
      background: #dc3712;
      background-image: -moz-linear-gradient(top, #f0694b, #dc3712);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0694b), to(#dc3712));
      text-shadow: 0 -1px 0px #ad2b0e; }

#main {
  border: 1px solid #333333;
  border-color: #1f1f1f #404040 #404040 #1f1f1f;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  background-color: #262626;
  overflow: hidden;
  text-shadow: 0 -1px 0px #0d0d0d; }
  #main .intro {
    margin: 2em auto;
    width: 550px; }
    #main .intro > p {
      text-align: justify;
      padding: 0 10px; }
    #main .intro .mozaic {
      padding: 0;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: white; }
      #main .intro .mozaic img {
        vertical-align: middle;
        -webkit-box-shadow: 0 1px 4px black;
        box-shadow: 0 1px 4px black;
        -moz-box-shadow: 0 1px 4px black; }
  #main .actions {
    float: right;
    font-size: 0.9em;
    margin: 0 0 1em 1em; }
  #main > .actions {
    margin: 0.3em 10px 0 0; }
  #main form .actions {
    float: none;
    font-size: 1em;
    margin: auto; }

#misc {
  float: right;
  width: 200px;
  min-height: 10px;
  margin-left: 1em; }

#breadcrumb ul {
  margin: 0;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  font-size: 0.9em;
  border-bottom: 1px solid #262626;
  background: #555555;
  background-image: -moz-linear-gradient(top, #7b7b7b, #555555);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7b7b7b), to(#555555));
  text-shadow: 0 -1px 1px #2f2f2f;
  color: white; }
  #breadcrumb ul li {
    float: left; }
    #breadcrumb ul li.separator {
      padding: 0 5px; }
    #breadcrumb ul li a {
      display: block;
      height: 2em;
      padding: 0px 5px;
      color: white; }
      #breadcrumb ul li a:hover {
        background: #88c833;
        background-image: -moz-linear-gradient(top, #abda6e, #88c833);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#abda6e), to(#88c833));
        text-shadow: 0 -1px 1px #6c9f29; }
      #breadcrumb ul li a:active {
        background: #7ab42e;
        background-image: -moz-linear-gradient(top, #88c833, #a0d559);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c833), to(#a0d559));
        text-shadow: 0 -1px 1px #6c9f29; }

nav .item {
  height: 38px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  margin-bottom: 0.5em; }
  nav .item:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  nav .item a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding: 3px 0 3px 55px;
    background-position: 10px center;
    background-repeat: no-repeat; }
    nav .item a:hover {
      color: white; }
  nav .item.active {
    background-color: #262626; }
    nav .item.active a {
      color: white; }
  nav .item.home a {
    background-image: url(../images/icons/32/house.png); }
  nav .item.contact a {
    background-image: url(../images/icons/32/contact.png); }
  nav .item.overview a {
    background-image: url(../images/icons/32/presentation.png); }
  nav .item.download a {
    background-image: url(../images/icons/32/download.png); }
  nav .item.dashboard a {
    background-image: url(../images/icons/32/board.png); }
  nav .item.my-radio a {
    background-image: url(../images/icons/32/microphone.png); }
  nav .item.my-profile a {
    background-image: url(../images/icons/32/id_card.png); }
  nav .item.admin a {
    background-image: url(../images/icons/32/preferences.png); }

.error {
  background: transparent url(../images/icons/32/warning.png) 448px 2px no-repeat; }
  .error.unauthorized {
    background-image: url(../images/icons/32/door.png); }
  .error.forbidden {
    background-image: url(../images/icons/32/no_entry.png); }
  .error.not_found {
    background-image: url(../images/icons/32/sign_post.png); }

footer {
  display: block;
  color: #777777;
  font-size: 0.9em;
  padding-bottom: 1em;
  text-align: center;
  text-shadow: 0 -1px 0 #1a1a1a; }
  footer a {
    display: inline-block;
    border-left: 1px solid #777777;
    padding-left: 0.9em;
    margin-left: 0.7em;
    line-height: 0.8em;
    height: 1em; }

.license {
  margin: 2em 3em;
  text-align: justify; }
  .license ul {
    list-style: circle;
    padding-left: 2em; }

.radio {
  background: transparent url(../images/icons/32/microphone.png) 0 5px no-repeat;
  min-height: 48px; }
  .radio .name {
    font-size: 1.2em;
    margin-left: 40px; }
  .radio .description {
    margin-top: 0.3em;
    text-align: justify; }
  .radio .freq {
    margin-left: 40px;
    margin-top: 0.3em;
    color: white;
    font-weight: bold;
    font-size: 0.8em; }

a.new-radio, a.join-radio {
  display: block;
  margin: 1em;
  padding: 0 1em;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px; }
  a.new-radio h4, a.join-radio h4 {
    font-size: 1.5em;
    padding: 0.9em 0 0.9em 50px;
    margin: 0;
    margin-top: 0.4em;
    text-align: center; }
  a.new-radio p, a.join-radio p {
    text-align: justify;
    color: black;
    font-weight: normal;
    min-height: 3em;
    line-height: 1.4em;
    margin: 0.5em 0;
    text-shadow: 0 1px 1px #959595; }

a.new-radio h4 {
  background: url(../images/icons/microphone.png) left center no-repeat; }

a.join-radio h4 {
  background: url(../images/icons/join-radio.png) left center no-repeat; }

div#carousel {
  height: 265px;
  width: 515px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  position: relative; }
  div#carousel img#slide-left,
  div#carousel img#slide-right {
    top: 105px;
    z-index: -100px;
    position: absolute; }
  div#carousel img#slide-left {
    left: -24px; }
    div#carousel img#slide-left:hover {
      cursor: pointer; }
  div#carousel img#slide-right {
    right: -24px; }
    div#carousel img#slide-right:hover {
      cursor: pointer; }

div#carousel-images {
  width: 515px;
  height: 260px;
  position: absolute;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px #111111; }
  div#carousel-images ul {
    width: 10000px;
    height: 260px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    position: relative; }
    div#carousel-images ul li {
      width: 515px;
      float: left;
      z-index: 100;
      position: relative; }
      div#carousel-images ul li span {
        display: block;
        width: 485px;
        left: 5px;
        bottom: 5px;
        padding: 10px;
        text-align: left;
        font-size: 0.9em;
        font-weight: bold;
        text-shadow: 0px -1px 1px black;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute; }
      div#carousel-images ul li img {
        border: 5px solid white;
        border-radius: 3px; }

#download {
  margin: 1em 0 3em 0; }
  #download .client, #download .mobile {
    float: left; }
    #download .client h3, #download .mobile h3 {
      text-align: center;
      line-height: 2.5em;
      border-bottom: 1px solid #333333;
      margin: 0 10px 1em 10px; }
    #download .client > div, #download .mobile > div {
      min-height: 90px;
      width: 90px;
      margin: 0 10px;
      float: left;
      background: transparent url("../images/download.png") top center no-repeat; }
  #download .mobile .ios {
    background-position: center -90px; }
  #download .client .windows {
    background-position: center -180px; }
  #download .client .linux {
    background-position: center -270px; }
  #download .client .macos {
    background-position: center -360px; }
