.split {
  overflow: hidden;
  clear: both; }
  .split label, .split .formError {
    width: 30%; }
  .split input, .split textarea {
    width: 63%; }
  .split .checkbox {
    width: auto; }
  .split select {
    width: 65%; }
  .split .left, .split .right {
    float: none;
    width: auto; }

#wrapper {
  width: auto;
  margin: 0 15px;
  min-width: 280px; }
