body {
  font-size: 16px; }

.actions a,
.actions input,
input.button,
a.button {
  text-shadow: 0 -1px 1px #404037; }

.split {
  overflow: hidden;
  clear: both; }
  .split label, .split .formError {
    width: 30%; }
  .split input, .split textarea {
    width: 63%; }
  .split .checkbox {
    width: auto; }
  .split select {
    width: 65%; }
  .split .left, .split .right {
    float: none;
    width: auto; }

#wrapper {
  width: auto;
  margin: 0 15px;
  min-width: 550px; }

#main {
  clear: both; }

#misc {
  float: none;
  width: auto;
  background-color: #333333; }

nav .item a {
  float: left;
  background-position: center 5px;
  line-height: 1.5em;
  height: 1.5em;
  padding: 38px 0.8em 0.5em 0.8em;
  border-bottom: none;
  border-right: 1px solid #404040; }
  nav .item a:hover {
    background-color: #ee6644;
    color: white; }
nav .item.active a {
  background-color: #262626;
  color: white; }
