%div{:class => [:block, :error, @error].join(' ')}
  %h2= t(".#@error.title", :default => @error.to_s.humanize)
  .block
    %p= t(".#@error.blurb")
    - if @code == 401 # unauthorized
      = render 'sessions/new'
    - else
      = link_to t(:back), :back
