.intro
  %p
    Si vous souhaitez nous faire part de vos remarques, de vos impressions, ou de toute autre suggestion, n'hésitez pas à nous faire parvenir un e-mail. Si vous souhaitez vous tenir au courant en temps réel des nouveautés qui vous sont offertes, des mises à jour ou remarques, vous pouvez nous suivre via notre compte twitter.
    %br
    %br
    Merci.
  %p
    = image_tag 'icons/32/contact.png'
    Contactez-nous par e-mail :
    = mail_to 'team@defuze.me'
  %p
    = image_tag 'icons/32/twitter.png'
    Suivez-nous sur twitter :
    = link_to 'http://twitter.com/defuzeme', 'http://twitter.com/defuzeme'
