.intro
  %p.mozaic
    = image_tag 'mosaic1.jpg'
    +
    = image_tag 'mosaic2.jpg'
    \=
    = image_tag 'mosaic3.jpg'
  %p
    Mettant à disposition des stations de radio un support de diffusion innovant proposant une interface intuitive, defuze.me est conçu pour être compatible avec les technologies modernes, notamment avec les écrans et tablettes tactiles.
    
  %p
    Il associe également des fonctionnalités audio complètes à une automatisation et une planification avancées. En outre, un service web en liaison permanente avec le logiciel apporte une dimension sociale en permettant aux auditeurs d'interagir avec la radio. Pour ce faire, plusieurs interfaces sont proposées aux radios et leur permettent de récupérer des informations sur les programmes diffusés, pour ensuite les partager sur leur site web. Par ailleurs, le logiciel est contrôble à distance au moyen d'une application mobile pour tablettes tactiles et netbooks.

  %p
    Enfin, compatible avec l'ensemble des principaux systèmes d'exploitation, il s'intègre aisément à toutes les plates-formes existantes. Moderne et efficace, defuze.me propose une solution innovante dans le domaine des logiciels de diffusion radio.
