.intro
  %p.mozaic
    = image_tag 'mosaic1.jpg'
    +
    = image_tag 'mosaic2.jpg'
    \=
    = image_tag 'mosaic3.jpg'
  %h2.tagline
    Defuze.me is an innovative broadcast software. It brings to your radio
    a full set of audio capabilities and powerful automation tools.
  .block
    %h3 Defuze.me is all about:
    %ul.features
      %li.technologies
        %h4 Cutting-edge technology
        %details
          The intuitive interface speed up your work and is always at your
          fingertips on your touch screen or tablet
      %li.social
        %h4 Social interactions
        %details
          Interacting with listeners has never been so easy. Update your website
          and twitter in real-time and get instant feeback and suggestions
      %li.remote
        %h4 Remote control
        %details
          Control the broadcast from anywhere in the world. The web-based
          control and mobile application makes your life easier.
      %li.integration
        %h4 Easy integration
        %details
          Defuze.me runs on all major operating system and easily
          fits in your existing configuration.
      %li.clear
    %p.reliability
      Whichever kind of radio you're running, the most advanced radio
      automation software won't let you down. Ever.

