%h2 License

.block
  %p This software includes code from Nokia Corporation and/or its subsidiary(-ies), used with permission.

  %p This software is the intellectual property of the Defuze.me team, and is covered by retained intellectual property rights, including copyright. The application is made available to you under the following terms and conditions:

  %p This License governs use of the accompanying Software, and your use of the Software constitutes acceptance of this license. "Software" includes, without limitation: all executable binaries, all resource files, all source code, and all documentation. "Software" does not include any files or data created by third parties, including Nokia, who retain and enforce their own copyright restrictions.

  %p You may use this Software for Epitech presentations only, subject to the restrictions in this license.

  %p YOU MAY NOT DISTRIBUTE OR DEMONSTRATE THIS SOFTWARE FOR ANY OTHER PERSON UNDER ANY CIRCUMSTANCES. This Software is made available exclusively to you, and you personally, without the right to provide or demonstrate the Software for any third party. Your rights are personal, and are under no circumstances assignable, licensable, or otherwise transferable.

  %p You may not modify this Software.You may not use or distribute this Software or any derivative works in any form for commercial purposes, including (without limitation) running business operations, licensing, leasing, or selling the Software, or distributing the Software for use with commercial products.

  %p You may use any information in intangible form that you remember after accessing the Software. However, this right does not grant you a license to any of the Defuze.me teams's copyrights or patents for anything you might create using such information.

  %p In return, you agree:

  %ul
    %li Not to remove any copyright or other notices from the Software.
    %li Not to use or distribute this Software or any derivative works in any form for commercial purposes, as that term is described above.
    %li Not to distribute or demonstrate the Software for any other person under any circumstances.

  %p THAT THE SOFTWARE COMES "AS IS", WITH NO WARRANTIES. THIS MEANS NO EXPRESS, IMPLIED OR STATUTORY WARRANTY, INCLUDING WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR ANY WARRANTY OF TITLE OR NON-INFRINGEMENT. ALSO, YOU MUST PASS THIS DISCLAIMER ON WHENEVER YOU DISTRIBUTE THE SOFTWARE OR DERIVATIVE WORKS.

  %p THAT DEFUZE.ME TEAM WILL NOT BE LIABLE FOR ANY DAMAGES RELATED TO THE SOFTWARE OR THIS LICENSE, INCLUDING DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR INCIDENTAL DAMAGES, TO THE MAXIMUM EXTENT THE LAW PERMITS, NO MATTER WHAT LEGAL THEORY IT IS BASED ON. ALSO, YOU MUST PASS THIS LIMITATION OF LIABILITY ON WHENEVER YOU DISTRIBUTE THE SOFTWARE OR DERIVATIVE WORKS.

  %p That if you sue anyone over patents that you think may apply to the Software or anyone's use of the Software, your right to the Software and your rights under this License automatically end, while your obligations remain in effect.

  %p That your rights under this License may be modified or canceled at any time, for any reason, and without notice to you, but will always be made available at http://defuze.me/license, and that any subsequent revision or version of this License will completely supersede the terms and obligations of all earlier Licenses, including this one.

  %p That your rights under the License end automatically if you breach it in any way, while your obligations remain in effect.
