.intro
  %h2= t('errors.show.title', :code => @error.hex_code)
  %p
    %em= t('.source_info', :file => @error.file, :line => @error.line, :mod => @error.module)
  = render :partial => 'form'
  %p= link_to t('back'), @error

