- javascript 'swfobject', 'FABridge', 'web_socket'

%h2= t('.title')

.block
  %ol.queue{'data-radio-id' => @radio.id}
    = render :partial => 'queue_elems', :locals => {:queue_elems => @queue_elems}
