%head
  %title Defuze.me
  %meta{:charset => "utf-8"}/
  %meta{:content => "Defuze.me", :name => "description"}/
  %meta{:content => "http://defuze.me", :name => "identifier-url"}/
  %meta{:content => "Defuze.me EIP team", :lang => "fr", :name => "author"}/
  %meta{:content => "index, follow", :name => "robots"}/
  %link{:href => '/favicon.png', :rel => 'shortcut icon'}/
  = stylesheet_link_tag 'screen'
  = javascript_include_tag :defaults
  = csrf_meta_tag
  /[if lte IE 8]
    = javascript_include_tag 'html5'

